html
{
    box-sizing: border-box;
}
*, *::after,*::before{
    box-sizing: inherit;
}
.body{
    line-height: 20px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}
a{
    color: #000;
    display: inline-block;
    text-decoration: none;
}
.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    background-color: rgb(128, 133, 137);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 47px;
}
.header__logo a {
    color: aqua;
    font-size: 50px;
    line-height: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}
.header__logo a span{
    color: rgb(25, 27, 27);
    font-weight: 800;
    font-size: 40px;
}
.menu-btn{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #000;
}
.menu-btn span{
    position: absolute;
    width: 30px; 
    height: 3px;
    background-color: aliceblue;
    left: 5px;
    transition: transform .5s, opacity, .5s background-color .5s;
}
.menu-btn span:nth-child(1){
    transform: translateY(-10px);
}
.menu-btn span:nth-child(3){
    transform: translateY(10px);
}
.header__menu {
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 13px;
}
.header__drop-dayn{
    position: relative;
}
.drop-dan__list{
    z-index: 100;
    display: none;
    position: absolute;
    width: 145px;
    background-color: aliceblue;
    border: 1px solid rgb(55, 186, 223);
    border-top: none;
    border-bottom: 5px solid rgb(63, 216, 216);
    box-shadow: 0px 5px 0px 0px bisque;
    padding: 10px 5px;
}
.drop-dan__list a{
    padding: 12px 0px 12px 11px;
    font-weight: 600;
    text-transform: none;
    display: block;
}
.header__drop-dayn .drop-dan__list li{
    margin-left: 0;
    display: block;
}
.drop-dan__list li + li a{
    border-top: 1px solid #393737;
}
.drop-dan__list a:hover{
    color: rgb(15, 236, 236);
}
.header__menu li{
    margin-left: 50px;
}
.header__drop-dayn .drop-dan + .header__drop-dayn .drop-dan{
    margin-left: 12px;
}
.header__drop-dayn > a{
    position: relative;
    border-top: 5px solid transparent;
    padding-left: 11px;
    padding-right: 16px;
    transition: all 0.6s;
}
.header__drop-dayn > a::after{
    content: "";
    position: absolute;
    background-image: url;
    width: 7px;
    height: 7dvh;
    right: 9px;
    top: -9px;
}
.header__drop-dayn > a:hover{
    color: aqua;
    border-top: 5px solid rgb(63, 216, 216);
    background-color: rgb(249, 251, 251);
}
.header__drop-dayn > a:hover + .drop-dan__list{
    display: block;
}
.drop-dan__list:hover{
    display: block;
}
/* ____________________________________________________- */

.slider {
    background: linear-gradient(to bottom,  #d6f9ff 0%,#9ee8fa 100%);
    padding: 20px 0 10px;
}
.conteiner {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}
.slaider__inner {
}
.slaider__itemr {
    background-image: url(../imeges/tre.jpg);
    min-height: 510px;
    background-position: top center;
    box-sizing: cover;
    background-repeat: no-repeat;
}
.slaider__item-tatli {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: rgb(235, 234, 232);
    width: 300px;
    font-weight: 600;
    margin-left: 60px;
    padding-top: 100px;
}
.slick-dots li button{
    width: 14px;
    height: 14px;
    background-color:rgba(98, 98, 98, 0.5);
    border-radius: 50%;
}
.slick-dots li.slick-active button{
    background-color: aliceblue;
}
.slick-dots li button::before{
    display: none;
}
/* ______________________________________________- */


.items {
    /* background-color:  rgb(128, 133, 137); */
    padding: 60px 0 50px;
}
.item{
    width: 225px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
}
.items__iner {
    display: flex;
    justify-content: space-between;
}
.item__tatli {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 0px 0px 60px;
    margin-bottom: 30px;
    position: relative;
    color: rgb(75, 2, 2);
}
.item__icons {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(181, 223, 223);
    border-radius: 50%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__text {
    font-size: 13px;
    margin-bottom: 25px;
}
.item__link {
    padding-left: 15px;
    font-size: 13px;
    color: rgb(75, 2, 2);
    position: relative;
}
.item__link::before{
    content: "";
    position: absolute;
    background-image: url(../imeges/8666723_mail_icon.svg);
    width: 9px;
    height: 5px;
    left: 0;
    top: 2px;
}
/* _________________________________________________________- */

.works {
    /* background-color: #f6f6f6; */
}
.conterniar {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}
.works__tatki, 
.textimonials__tatli,
.car__logo-tatli {
    padding: 25px 0px 15px 49px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #393737;
    text-transform: uppercase;
    position: relative;
}
.works__tatki::before{
    content: '';
    position: absolute;
    background-image: url(../imeges/strit3.svg);
    width: 24px;
    height: 28px;
    left: 0;
    top: 20px;

}
.works__inner {
    padding: 20px 0px 20px;
    border: 1px solid #c1bebe;
    border-bottom:1px solid #9f9b9b ;
}
.works__inner-item {
}
.slick-arrow{
    width: 20px;
    height: 20px;
    /* background-color:rgb(181, 223, 223); */
    border-radius: 50%;
}
.slick-arrow::before{
    display: none;
}
.slick-arrow:hover, .slick-arrow:focus{
    /* background-color:rgb(181, 223, 223); */
}
.slick-prev{
    left: auto;
    top: -27px;
    right: 31px;
}
.slick-next{
    top: -27px;
    right: 0;
}
/* _______________________________________________ */

/* .container {
} */
.plav{
    padding:0 0 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.plav__inner {
    display: flex;
    justify-content: space-between;
}
.textimonials {
    max-width: 500px;
}
.textimonials__tatli::before {
    background-image: url(../imeges//8666693_search_icon\ \(1\).svg);
    width: 24px;
    height: 24px;
}
.car__logo-tatli::before {
    background-image: url(../imeges/123.svg);
}
.textimonials p {
    font-size: 18px;
    line-height: 24px;
    color: #393737;
}
.textimonials span{
    display: block;
    padding-top: 30px;
    font-weight: 700;
    font-style: italic;
}
.download {
    margin-top: 40px;
    padding: 30px 40px 30px 40px;
    border: 1px solid #393737;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.download__text {
    font-size: 14px;
    line-height: 28px;
    color: #393737;
    max-width: 660px;
}
.download__btn a {
    padding: 20px 20px 20px 70px;
    font-weight: 700;
    text-transform:uppercase;
    position: relative;
    border: 1px solid #1366eb;
    border-radius: 8px;
    box-shadow: 0px 3px 2px 0px;
    background: linear-gradient(to bottom,  #d6f9ff 0%,#9ee8fa 100%);
}
.download__btn a ::before{
    content: "";
    position: absolute;
    background-image: url(../imeges/gf.png);
    width: 28px;
    height: 25px;
    top: 16px;
    left: 25px;
}
/* _______________________________________________________- */


.footer {
    background: linear-gradient(to bottom,  #d6f9ff 0%,#9ee8fa 100%); 
    padding: 30px 0 40px;
    border: 1px solid #393737;
    font-family: Arial, Helvetica, sans-serif;
}
/* .container {
} */
.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.footer__tatli {
}
.footer__item-tatli {
    font-weight: 700;
    text-transform: uppercase;
    width: 240px;
}
.footer__text {
    padding-top: 35px;
    font-size: 14px;
    color: #393737;
}
.footer__list {
    padding-top: 10px;
}
.footer__list li{
    display: block;
}
.footer__list a{
    color: #393737;
    font-size: 14px;
    line-height: 26px;
}
.footer__adres {
    margin-top: 25px;
    color: #393737;
    font-size: 14px;
    margin-bottom: 16px;
}
.footer__adres span{
    display: block;
    font-weight: 700;
}
.footer__consol {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__fonn {
    
}
.footer__botom {
    display: flex;
    justify-content: space-between;
}
.footer__copy {
    max-width: 650px;
    font-size: 13px;
    line-height: 18px;
}
.footre__logo a{
    color: aqua;
    font-size: 50px;
    line-height: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}
.footre__logo span{
    color: rgb(25, 27, 27);
    font-weight: 800;
    font-size: 40px;
}
@media (max-width: 970px) {
    .menu-btn{
        display: block;
    }
    .header__menu{
        position: absolute;
        top: -350px;
        left: 0;
        width: 350px;
        background-color: #9ee8fa;
        padding: 0 10px;
        z-index: 6;
    } 
    .header__menu li{
        display: block;
    }
        .header__menu a{
        font-size: 16px;
        display: block;
        padding: 0 10px;
    }
    .header.open .header__menu{
        transform: translateX(100%);
    }
}
